## KiwiLytics Orders Data Analysis

### This notebook addresses four questions using the 'kiwilytics_orders.csv' dataset:
1. Determine the shape of the dataset.
2. Fill missing unit prices and calculate total revenue.
3. Identify the product with the highest total quantity sold.
4. Identify the customer with the highest total spending.

---

### Setup and Data Loading

In [3]:
import pandas as pd
import numpy as np

# Load the CSV file
file_path = 'kiwilytics_orders.csv'
df = pd.read_csv(file_path)

print(f"File loaded successfully from: {file_path}")
print("\nInitial DataFrame structure:")
display(df.head())
df.info()

File loaded successfully from: kiwilytics_orders.csv

Initial DataFrame structure:

   order_id customer_name     product  quantity  unit_price  order_date
0         1         Maria  Kiwi Chips         2         3.0  2024-01-29
1         2       Richard  Kiwi Chips         1         3.0  2024-01-08
2         3      Nicholas  Kiwi Candy         1         2.5  2024-01-25
3         4       Raymond  Kiwi Candy         4         NaN  2024-01-04
4         5         David  Kiwi Juice         1         4.5  2024-02-25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  100 non-null    object
 2   product        100 non-null    object
 3   quantity       100 non-null    int64
 4   unit_price     92 non-null     float64
 5   order_date     100 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 4.8+ KB

### Question 2 - Dataset Shape

In [4]:
# Question 2: What is the shape of the dataset after loading the CSV file?

# Get the number of rows and columns
num_rows, num_cols = df.shape

print("--- Question 2 Answer ---")
print(f"The shape of the dataset is: ({num_rows}, {num_cols})")
print(f"The dataset contains {num_rows} rows and {num_cols} columns.")

--- Question 2 Answer ---
The shape of the dataset is: (100, 6)
The dataset contains 100 rows and 6 columns.

### Question 3 - Fill Missing Prices and Calculate Total Revenue

In [5]:
# Question 3: Fill missing unit_price using the average price for that same product,
# then Calculate total revenue across all orders.

# 1. Fill missing 'unit_price' values with the average price for that specific 'product'
# The transform function applies the fillna(mean()) operation within each product group.
df['unit_price'] = df.groupby('product')['unit_price'].transform(lambda x: x.fillna(x.mean()))

# 2. Calculate the 'total_price' for each order (quantity * unit_price)
df['total_price'] = df['quantity'] * df['unit_price']

# 3. Calculate total revenue (sum of all total_prices)
total_revenue = df['total_price'].sum()

print("--- Question 3 Answer ---")
print(f"Total Revenue after imputing missing prices: ${total_revenue:.2f}")

# Sanity check: show a few rows to confirm total_price was calculated
# print("\nDataFrame head after calculations:")
# display(df.head())

--- Question 3 Answer ---
Total Revenue after imputing missing prices: $1167.50

### Question 4 - Product with Highest Total Quantity Sold

In [6]:
# Question 4: Which product has the highest total quantity sold?

# Group by product and sum the quantity
product_sales = df.groupby('product')['quantity'].sum()

# Find the product with the maximum total quantity
highest_quantity_product = product_sales.idxmax()
highest_quantity_value = product_sales.max()

print("--- Question 4 Answer ---")
print(f"The product with the highest total quantity sold is: {highest_quantity_product}")
print(f"Total quantity sold: {highest_quantity_value} units.")

--- Question 4 Answer ---
The product with the highest total quantity sold is: Kiwi Chips
Total quantity sold: 73 units.

### Question 5 - Customer with Highest Total Spending

In [7]:
# Question 5: Which customer has the highest total spending across all orders?

# Group by customer_name and sum the calculated total_price
customer_spending = df.groupby('customer_name')['total_price'].sum()

# Find the customer with the maximum total spending
highest_spending_customer = customer_spending.idxmax()
highest_spending_value = customer_spending.max()

print("--- Question 5 Answer ---")
print(f"The customer with the highest total spending is: {highest_spending_customer}")
print(f"Total spending: ${highest_spending_value:.2f}")

--- Question 5 Answer ---
The customer with the highest total spending is: Eric
Total spending: $100.50